@{
    ViewBag.Title = "About";
}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">About Me!</h1>
            <p class="lead">I could be building a website for you! let me tell you a little about me.</p>
        </div>
    </div>
<div class="container">
    <div class="about-container">
        <div class="title">
            <h3>Joe Dracup, Web Developer</h3>
        </div>
        <div class="about-content">
            <div class="text">
                <p>
                    I am a 19 year old web development apprentice looking to build websites for your small business.
                    I am confident in my ability to produce a quality product that you can share with the world using a multiplude of tools including
                    C#, ASP.Net, MVC, HTML, CSS, Umbraco, Bootstrap, and many more!
                </p>
            </div>
            <div class="image">
                <img class="img-about" src="~/Assets/skypeprofile.jpg" />
            </div>
        </div>
    </div>  
</div>