@{
    ViewBag.Title = "Contact";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Contact!</h1>
        <p class="lead">To get in contact about a bespoke website for your business, get in contact via one of the methods below.</p>
    </div>
</div>

<<div class="container">
    <div class="about-container">
        <h3>Email:</h3>
        <p>Joe@dracup.me.uk</p>
        <h3>Phone</h3>
        <p>07552413479</p>
    </div>
</div>