@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Your name could be here!</h1>
        <p class="lead">The internet is the best marketing tool a small business could ask for, and yet many do not take advantage. Get in contact today to learn about how a bespoke website could help you to reach out to more customers than you thought possible</p>
    </div>
</div>

<div class="index-flex-container">
    <div class="index-flex-item">
        <h3>Over 4 billion users.</h3>
        <p>With the internet as a whole passing 4 billion users in 2018, your business could be missing out on masses of potential customers.</p>
    </div>
    <div class="index-flex-item">
        <h3>ASP .Net Vs PHP.</h3>
        <p>Creating your site in ASP.Net over PHP brings many advantages. One main advantage is speed, using ASP.net gives you access to many frameworks that allow development of your site to be completed much faster.</p>
    </div>
    <div class="index-flex-item">
        <h3>Content Management Systems.</h3>
        <p>Want a blog, or a way of updating your site regularly without a developer? Get in touch to learn about how a content management system could be the solution for you.</p>
    </div>
    <div class="index-flex-item">
        <h3>A step behind the competition.</h3>
        <p>In this digital age, most if not all of your competition will be taking full advantage of the web to access customers that you cannot. Don't fall behind, get in contact now.</p>
    </div>
    <div class="index-flex-item">
        <h3>Low cost.</h3>
        <p>Out of all of the methods you could be using to advertise, having a website is an extremely low cost method to get your name out there.</p>
    </div>
    <div class="index-flex-item">
        <h3>Instant Credability.</h3>
        <p>Having a website is an easy way be percieved as a professional and established business by your customer, this could sway there decision on where they give their custom.</p>
    </div>
    <div class="index-flex-item">
        <h3>Around the clock marketing.</h3>
        <p>The internet never sleeps, your website will be live for customer to see whenever they search for it. Keeping you at the front of their minds.</p>
    </div>
</div>